#divContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

#divContainerCard {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

#span1, #span2 {
    color: black;
    margin: 5px;
}

.buton-cart{
    background: linear-gradient(90deg, #4CAF50 0%, #8BC34A 50%, #CDDC39 100%);
}