#divContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#divContainerCard {
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: 500px;
}


#span1, #span2 {
    color: black;
    margin: 5px;
}

.buton-cart{
    background: linear-gradient(90deg, #4CAF50 0%, #8BC34A 50%, #CDDC39 100%);
}

.parrafo{
    width:50%;
    height:20px;
    font-size:16px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}


