.relative.z-10 {
  padding: 20px;
}

/* Barra superior */
.relative.z-10 img {
  width: 50px;
  height: 50px;
}

.relative.z-10 input[type="search"] {
  margin-left: 10px;
  padding: 5px;
  width: 200px;
  color: white; /* Color del texto blanco */
}

/* Sección de información del usuario */
.relative.z-10 section {
  margin-top: 20px;
}

.relative.z-10 img[src="imagen.png"] {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

.relative.z-10 h1 {
  margin-bottom: 10px;
  color: white; /* Color del texto blanco */
}
/* Sección de pedidos */
.relative.z-10 button {
  margin-top: 10px;
  padding: 8px;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

/* Hover en botones */
.relative.z-10 button:hover {
  background: linear-gradient(90deg, #FF5733 0%, #FFD133 100%);
}

/* Botón para ver eventos */
.relative.z-10 .button-ver-eventos {
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Hover en botón para ver eventos */
.relative.z-10 .button-ver-eventos:hover {
  background: linear-gradient(90deg, #FF5733 0%, #FFD133 100%);
}


/* Sección de intereses y eventos que sigue */
.relative.z-10 h2 {
  margin-top: 20px;
  color: white; /* Color del texto blanco */
}


/* Estilos para la barra lateral derecha */
.relative.z-10 div[style="float: right;"] {
  float: right;
  margin-top: 10px;
}

.relative.z-10 div[style="float: right;"] img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.relative.z-10 div[style="float: right;"] span {
  font-size: 14px;
  vertical-align: middle;
  color: white; /* Color del texto blanco */
}


.centered-content {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75); 
  border-radius: 30px;
}



/* Estilos para el texto específico */
.centered-content h2,
.centered-content p,
.centered-content button {
  color: white;
}

/* Agrega esta nueva clase para la sección flotante */
.floating-user-section {
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 1; /* Asegura que la sección esté por encima del contenido scrollable */
}
